body{color: #430788; background-color: rgb(218, 221, 228);}
.para1{color: brown;}
.br{border-top: 10%; border-bottom: 10%;}
.border{border-style: dashed;width: 20pc;height: 10pc;
/* border-bottom-left-radius: 0cqmin;
border-bottom-right-radius: 0cqi; */
/* border-width: 10px; height: 10px; */
/* border-bottom: #010803; */

}
